CDE-CIP-TNDISPATCHER-0700-main/server/src/test/resources/moneris-response.dtd

<!-- The Rogers Vault Response DTD -->
        <!-- Main Elements -->
        <!ELEMENT response (receipt+)>
        <!ELEMENT receipt (DataKey, ResponseCode, Message, CardType, Pan?, MaskedPan?, ResponseFlag?)>
        <!ELEMENT DataKey (#PCDATA)>
        <!ELEMENT ResponseCode (#PCDATA)>
        <!ELEMENT Message (#PCDATA)>
        <!ELEMENT CardType (#PCDATA)>
        <!ELEMENT Pan (#PCDATA)>
        <!ELEMENT MaskedPan (#PCDATA)>
        <!ELEMENT ResponseFlag (#PCDATA)>