CDE-CIP-TNDISPATCHER-0700-main/monerismock/src/main/resources/mnrequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="store_id" />
	<xs:element ref="api_token" />
	<xs:choice>
	  <xs:element ref="res_add_cc" />
	  <xs:element ref="res_lookup_full" />
	  <xs:element ref="res_lookup_masked" />
	  <xs:element ref="res_batch" />
	</xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="store_id">
    <xs:simpleType>
      <xs:restriction base="xs:string">
	<xs:maxLength value="10"/>
	<xs:pattern value="[a-zA-Z0-9_]*"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="api_token">
    <xs:simpleType>
      <xs:restriction base="xs:string">
	<xs:maxLength value="20"/>
	<xs:pattern value="[a-zA-Z0-9_]*"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="res_batch">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="500">
	<xs:choice>
	  <xs:element ref="res_add_cc" />
	  <xs:element ref="res_lookup_full" />
	  <xs:element ref="res_lookup_masked" />
	</xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="res_add_cc">
    <xs:complexType>
      <xs:all>
	<xs:element ref="pan" />
	<xs:element ref="card_type" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="res_lookup_full">
    <xs:complexType>
      <xs:all>
	<xs:element ref="data_key" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="res_lookup_masked">
    <xs:complexType>
      <xs:all>
	<xs:element ref="data_key" />
	<xs:element ref="lookup_format" minOccurs="0" maxOccurs="1"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="pan">
    <xs:simpleType>
      <xs:restriction base="xs:string">
	<xs:pattern value="[0-9_]*"/>
	<xs:maxLength value="20"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="card_type">
    <xs:simpleType>
      <xs:restriction base="xs:string">
	<xs:maxLength value="1"/>
	<xs:pattern value="[VMAD]"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="data_key">
    <xs:simpleType>
      <xs:restriction base="xs:string">
	<xs:maxLength value="25"/>
	<xs:pattern value="[a-zA-Z0-9_]*"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="lookup_format">
    <xs:simpleType>
      <xs:restriction base="xs:string">
	<xs:maxLength value="1"/>
	<xs:pattern value="[1-4]"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>

